# vim: set ft=dosini sts=4 ts=4 sw=4 noexpandtab fo-=t:
# https://www.freedesktop.org/software/systemd/man/systemd.directives.html
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# https://www.freedesktop.org/software/systemd/man/systemd.unit.html
# https://www.freedesktop.org/software/systemd/man/systemd.service.html
# https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/System_Administrators_Guide/sect-Managing_Services_with_systemd-Unit_Files.html

[Unit]
Description=ECDS-API Service Manager (instance=%i)
After=systemd-journald.service
After=systemd-networkd.service

[Service]
Type=simple
Environment="ECDSAPI_PROFILES=" "ECDSAPI_INSTANCE=%i" "ECDSAPI_SYSCONFDIR=/etc/opt/cs/ecdsapi/%i" "JAVA_HOME=" "ECDSAPI_PREFIX=/opt/cs/ecdsapi"
EnvironmentFile=-/etc/opt/cs/ecdsapi/%i/sysconfig
WorkingDirectory=/etc/opt/cs/ecdsapi/%i
ExecStart=/opt/cs/ecdsapi/bin/ecdsapi.sh
SuccessExitStatus=143
Restart=always
RestartSec=30
User=cs
Group=cs

[Install]
WantedBy=multi-user.target
DefaultInstance=default
