		<form th:if="${not no_config}" id="configForm" name="configForm" class="form-horizontal" role="form">
				<div th:each="field : ${fields}" th:if="${!(#strings.endsWith(field.fieldName,'ReturnCodesTexts') || #strings.endsWith(field.fieldName,'UssdProcess') || #strings.endsWith(field.fieldName,'Commands') || #strings.endsWith(field.fieldName,'ServiceClasses') || #strings.endsWith(field.fieldName,'Variants')) }" class="form-group">
					<div class="row">
						<label for="something" class="col-sm-4 control-label"
							th:text="${utils.splitCamelCaseString(field.fieldName)}">label</label>

						<!--  Boolean -->
						<div th:if="${#strings.endsWith(field.valueType, 'Boolean')}" class="col-sm-3">
							<input type="checkbox"
								th:readonly="${field.readOnly}" th:id="${field.fieldName}"
								th:name="${field.fieldName}" th:checked="${field.value}" 
								th:onchange="'javascript:dataUpdated();'"
								/>
						</div>
						
						<!-- Integer -->
						<div th:if="${#strings.endsWith(field.valueType, 'Integer')}" class="col-sm-3">
							<input class="numericfields form-control" id="directoryName" type="text"
								th:readonly="${field.readOnly}" th:id="${field.fieldName}"
								th:name="${field.fieldName}" th:value="${field.value}"
								th:onchange="'javascript:dataUpdated();'"
								/>
						</div>
						
						<!-- String -->
						<div th:if="${#strings.endsWith(field.valueType, 'String')}" class="col-sm-3">
							<input class="form-control" id="directoryName" type="text"
								th:readonly="${field.readOnly}" th:id="${field.fieldName}"
								th:name="${field.fieldName}" th:value="${field.value}"
								th:onchange="'javascript:dataUpdated();'"
								/>
						</div>
						
						<!-- Texts -->
						<div th:if="${#strings.endsWith(field.valueType, 'Texts')}" class="col-sm-6">
							<div th:each="lang,iterStat : ${langs}">
								<div th:if="${! #strings.isEmpty(lang.langDesc)}" class="row" style="margin-top:5px;">
									<label for="defaults" class="col-sm-2 col-md-2 control-label" th:text="${lang.langDesc}">Default</label>
									<div th:if="${#strings.endsWith(field.valueType, 'Texts')}" class="col-sm-3">
										<input class="form-control" type="text"
											th:readonly="${field.readOnly}" th:id="${field.fieldName}"
											th:name="${field.fieldName + '_' + iterStat.count}" 
											th:value="${field.value.getText(iterStat.count)}"
											th:onchange="'javascript:dataUpdated();'"
										/>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
		</form>