p.loginheading {
	font-size: large;
	color: black !important;
}

.coautheading {
	font-size: large;
	color: black !important;
	text-align: left;
}

p.errormsg {
	text-align: center; 
	font-weight:bold; 
	font-size: small;
	padding-top: 20px;
	color: maroon;
}

.bottomspace {
	padding-top: 20px;
}

.bottomhalfspace {
	padding-top: 10px;
}

.verticalalign {
    display: inline-flex;
    height: 400px;
    background-color: red;
    color: white;
}

.rightalign {
	text-align:right;
}

.signin-box {
	min-height: 150px;
}



.error-div {
	min-height: 17px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.errormsg {
}

.passwd-box {
	margin-bottom:5px !important;
}

.pin-box {
	margin-bottom:5px !important;
}

.signInGreyedOut {
	cursor: default !important;
}

.authorisation-box {
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	padding-right: 10px;
	border-color: #d0d0d0;
}

.validatePinCoauth {
	margin-bottom: 0 !important;
}

.spacer { margin:0; padding:0; height:50px; }

.errortxt {
	color: #dd4b39;
	opacity: 1;
	display: block;
	text-align: center;
}

.center {
	text-align: center;
}

/* Page styling (Move to less / scss) */

.login-page {
    background: #005e81; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#005e81, #003447); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#005e81, #003447); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#005e81, #003447); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#005e81, #003447); /* Standard syntax */
}

.product-logo {
	background-image:url('../img/logos/crediverse-logo-200.png');
  	width: 200px;
  	height: 141px;
  	margin: auto;
}

.product-text {
  	color: #F77100;
  	font-size: 35px;
  	text-align: center;
  	margin-bottom: 10px;
  	font-weight: 300;
}

.product-revision {
	text-align: right;
  	color: #c4afb4;
  	font-size: 11px;
}