name: Nightly Build Crediverse 1.15

# Controls when the workflow will run
on:
  #push:
  #  branches:
  #    - 159-add-tests-to-workflow
  schedule:
    - cron: '00 00 * * *'
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
env:
  branchName: '1.15'

jobs:
  set-variables:
    runs-on: ubuntu-latest
    outputs:
      currentBranch: ${{ steps.set-value.outputs.currentBranch }}
    steps:
      - name: Output branch Details
        id: set-value
        run: |
          echo "currentBranch=${{ env.branchName }}" >>$GITHUB_OUTPUT
  Crediverse_Nightly_1_15:
    needs: set-variables
    uses: Concurrent-Systems/Crediverse/.github/workflows/nightly-build-crediverse-base.yml@main
    with:
      DOCKER_TAGNAME: nightly_build_${{needs.set-variables.outputs.currentBranch}}_${{github.run_id}}
      BRANCH_NAME: ${{needs.set-variables.outputs.currentBranch}}
      GITHUB_TAGNAME: nightly_build_${{needs.set-variables.outputs.currentBranch}}
    secrets:
      DB_PASS: ${{ secrets.DB_PASS }}
