	#subhistorytable thead th {
	  background-color: #006DCC  !important;
	  color: white  !important;
	}
	
	#subhistorytable tr td:first-child,
	tr.ccdata th.ccdata:first-child {
	  border-top-left-radius: 6px !important;
	  border-bottom-left-radius: 6px !important;
	}
	
	#subhistorytable tr td:last-child,
	tr th:last-child {
	  border-top-right-radius: 6px !important;
	  border-bottom-right-radius: 6px !important;
	}
	
	table.ccdata {
	  border-collapse: separate;
	  border-spacing: 0 5px;
	}
	
	thead.ccdata th {
	  background-color: #006DCC;
	  color: white;
	}
	
	tbody.ccdata td {
	  background-color: #EEEEEE;
	}
	
	tr.ccdata td.ccdata:first-child,
	tr.ccdata th.ccdata:first-child {
	  border-top-left-radius: 6px;
	  border-bottom-left-radius: 6px;
	}
	
	tr.ccdata td.ccdata:last-child,
	tr th:last-child {
	  border-top-right-radius: 6px;
	  border-bottom-right-radius: 6px;
	}
	.selectServiceHeading {
		font-weight: bold;
	}
	.serviceLabel {
		font-weight: normal !important;
	}
	
	.gui-alerts-area {
		margin-top: 15px;
	}
	
