<div>
	<script id="commondialog">
		<div id="defaultDialog" class="modal fade">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		            	<button type="button" class="close" data-dismiss="modal"><i class="fa fa-remove"></i> </button>
		                <h4 class="modal-title">Missing title</h4>
		            </div>
		            <div class="modal-body">
		            	<p class="modal-text">Missing Text</p>
		            </div>
		        </div>
		    </div>
		</div>
		
		<div id="okDialog" class="modal fade">
		    <div class="modal-dialog">
		        <div class="modal-content">
			        <div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal"><i class="fa fa-remove"></i> </button>
		                <h4 class="modal-title">Missing title</h4>
		            </div>
		            <div class="modal-body">
		            	<p class="modal-text">Missing Text</p>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default okButton" data-dismiss="modal">OK</button>
		            </div>
		        </div>
		    </div>
		</div>
		
		<div id="progressDialog" class="modal fade">
		    <div class="modal-dialog">
		        <div class="modal-content">
			        <div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal"><i class="fa fa-remove"></i> </button>
		                <h4 class="modal-title">Missing title</h4>
		            </div>
		            <div class="modal-body">
		            	<div id="progressBar" class="progress">
			        		<div class="progress-bar progress-bar-success"></div>
			    		</div>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default cancelButton" data-dismiss="modal">Cancel</button>
		            </div>
		        </div>
		    </div>
		</div>
		
		<div id="yesnoDialog" class="modal fade">
		    <div class="modal-dialog">
		        <div class="modal-content">
			        <div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal"><i class="fa fa-remove"></i> </button>
		                <h4 class="modal-title">Missing title</h4>
		            </div>
		            <div class="modal-body">
		            	<p class="modal-text">Missing Text</p>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default yesButton">Yes</button>
		                <button type="button" class="btn btn-primary noButton" data-dismiss="modal">No</button>
		            </div>
		        </div>
		    </div>
		</div>
		
		<div id="deleteDialog" class="modal fade">
	    	<div class="modal-dialog">
	        	<div class="modal-content">
		        	<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal"><i class="fa fa-remove"></i> </button>
		                <h4 class="modal-title">Missing title</h4>
	        	    </div>
		            <div class="modal-body">
		            	<div class="alert alert-danger form-error-panel deleteErrorPanel remove-margins hide" role="alert">
		            		<span class="form-error-heading">
		            			Delete operation failed, Item currently in use.
		            		</span>
		            	</div>
	    	        	<p class="modal-text">Missing Text</p>
	            	</div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-danger actionButton"> --- </button>
	    	            <button type="button" class="btn btn-default cancelButton" data-dismiss="modal">{{i18n "global.deleteCancel"}}</button>
	        	    </div>
		        </div>
		    </div>
		</div>
		
		<div id="viewDialog" class="modal fade">
		    <div class="modal-dialog">
		    </div>
		</div>
		
		<div id="statusDialog" class="modal fade">
		    <div class="modal-dialog">
		        <div class="modal-content">
			        <div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal"><i class="fa fa-remove"></i> </button>
		                <h4 class="modal-title">Missing title</h4>
		            </div>
		            <div class="modal-body">
		            	<p class="modal-text">Missing Text</p>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default okButton" data-dismiss="modal">OK</button>
		            </div>
		        </div>
		    </div>
		</div>
		
	</script>
</div>

