.UserActivityIcon {
	background-image: url(/img/bpmnsmall/UserActivity.png)!important;
	background-position: 0!important;
}

.ErrorIntermediateIcon {
	background-image: url(/img/bpmnsmall/ErrorIntermediate.png)!important;
	background-position: 0!important;
}

.ExclGatewayIcon {
	background-image: url(/img/bpmnsmall/ExclGateway.png)!important;
	background-position: 0!important;
}

.MenuItemIcon {
	background-image: url(/img/bpmnsmall/MenuItem.png)!important;
	background-position: 0!important;
}

.MenuItemsIcon {
	background-image: url(/img/bpmnsmall/MenuItems.png)!important;
	background-position: 0!important;
}
.MenuItemsIcon {
	background-image: url(/img/bpmnsmall/MenuItems.png)!important;
	background-position: 0!important;
}

.MessageEndIcon {
	background-image: url(/img/bpmnsmall/MessageEnd.png)!important;
	background-position: 0!important;
}

.ServiceActivityIcon {
	background-image: url(/img/bpmnsmall/ServiceActivity.png)!important;	background-position: 0!important;
}	

.StartIcon {
	background-image: url(/img/bpmnsmall/Start.png)!important;
	background-position: 0!important;
}	

.TBDIcon {
	background-image: url(/img/bpmnsmall/TBD.png)!important;
	background-position: 0!important;
}

.ToErrorIntermediateIcon {
	background-image: url(/img/bpmnsmall/ToErrorIntermediate.png)!important;
	background-position: 0!important;
}

.ToExclGatewayIcon {
	background-image: url(/img/bpmnsmall/ToExclGateway.png)!important;
	background-position: 0!important;
}

.ToExclGatewayIcon {
	background-image: url(/img/bpmnsmall/ToExclGateway.png)!important;
	background-position: 0!important;
}
.ToMessageEndIcon {
	background-image: url(/img/bpmnsmall/ToMessageEnd.png)!important;
	background-position: 0!important;
}

.ToServiceActivityIcon {
	background-image: url(/img/bpmnsmall/ToServiceActivity.png)!important;
	background-position: 0!important;
}

.ToServiceActivityIcon {
	background-image: url(/img/bpmnsmall/ToServiceActivity.png)!important;
	background-position: 0!important;
}

.ToStartIcon {
	background-image: url(/img/bpmnsmall/ToStart.png)!important;
	background-position: 0!important;
}

.ToUserActivityIcon {
	background-image: url(/img/bpmnsmall/ToUserActivity.png)!important;
	background-position: 0!important;
}

.UserActivityIcon {
	background-image: url(/img/bpmnsmall/UserActivity.png)!important;
	background-position: 0!important;
}