<link type="text/css" href="/css/pagecss/enhancedCreditSharing.css" rel="stylesheet" />
<link type="text/css" href="/css/pagecss/creditSharing.css" rel="stylesheet" />

<div class="row">
	<div class="col-sm-12">
		<h1 class="page-header config-prop-headings">Service Configuration Properties</h1>
	</div>
</div>

<!-- Tabbed Content -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#general" data-toggle="tab">General</a></li>
  <li><a href="#returnCodes" data-toggle="tab">Return Codes</a></li>
  <li><a href="#serviceclasses" data-toggle="tab">Service Classes</a></li>
  <li><a href="#variants" data-toggle="tab">Variants</a></li>
  <li><a href="#transMode" data-toggle="tab">Transfer Modes</a></li>
  <li><a href="#vasCommands" data-toggle="tab">VAS Commands</a></li>
  <li><a href="#ussd" data-toggle="tab">USSD Menu</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane tabcontent active" id="general">
		<div class="row" >
			<div class="col-xs-11 col-sm-5 col-md-7 user_heading" style="margin-left: 20px;">General Configuration</div>
		</div>	
		<form th:if="${not no_config}" id="configForm" name="configForm" class="form-horizontal" role="form">
			<div th:include="advconfig/general" />
		</form>
	</div>
	
	<!-- Return Codes -->
	<div class="tab-pane tabcontent" id="returnCodes">
		<div class="row" >
				<div class="col-xs-11 col-sm-5 col-md-7 user_heading" style="margin-left: 20px;">Return Codes</div>
		</div>	
		<form th:if="${not no_config}" id="configReturnCodeForm" name="configReturnCodeForm" class="form-horizontal" role="form">
			<div th:include="advconfig/returnCodesTexts" />
		</form>
	</div>

	<!--  Service Classes -->
	<div class="tab-pane tabcontent" id="serviceclasses">
		<div class="row" >
			<div class="col-xs-11 col-sm-5 col-md-7 user_heading" style="margin-left: 20px;">Service Classes</div>
			<div class="col-xs-6 col-md-4" style="float:right; margin-right:20px" >
				<button type="button" class="btn btn-success btn-xs" style="float:right;" data-toggle="modal" onclick="showAddServiceClass();" title="add service class"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
		</div>
		<div id="scinfo" th:include="enhancedCS/serviceclasses" />
	</div>
	
	<!--  Variants -->
	<div class="tab-pane tabcontent" id="variants">
		<div class="row" >
			<div class="col-xs-11 col-sm-5 col-md-7 user_heading" style="margin-left: 20px;">Variants</div>
			<div class="col-xs-6 col-md-4" style="float:right; margin-right:20px" >
				<button type="button" class="btn btn-success btn-xs" style="float:right;" data-toggle="modal" onclick="showAddVariants();" title="add variant"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
		</div>
		<div id="varinfo" th:include="enhancedCS/variants" />
	</div>
	
	<!--  Transfer Mode -->
	<div class="tab-pane tabcontent" id="transMode">
		<div class="row" >
			<div class="col-xs-11 col-sm-5 col-md-7 user_heading" style="margin-left: 20px;">Transfer Mode</div>
			<div class="col-xs-6 col-md-4" style="float:right; margin-right:20px" >
				<button type="button" class="btn btn-success btn-xs" style="float:right;" data-toggle="modal" onclick="showAddTransferMode();" title="add transfer mode"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
		</div>		
		<div id="tminfo" th:include="enhancedCS/transferMode" />
	</div>
	
	<!-- Vas Commands -->
	<div class="tab-pane tabcontent" id="vasCommands">
	</div>
	
	<!--  USSD Process Model -->		
	<div class="tab-pane tabcontent" id="ussd">
		<div th:include="advconfig/processgrid :: ussdGrid" th:with="label=${'USSD Process Configuration'}" class="panel panel-default"/>
	</div>
	
</div>

<!-- Update Buttons -->
<div th:include="common :: updateAndNotify" />

<!-- Add/Edit Modals -->
<div th:include="enhancedCS/serviceclassmodal" />
<div th:include="enhancedCS/variantsmodal" />
<div th:include="enhancedCS/transfermodal" />

<!--  Delete Modal -->
<div th:include="common :: deleteModal" />

<!-- Vas Commands Modal -->
<div th:include="advconfig/vasCommandsModal" />

<link type="text/css" href="/css/bootstrap-select.min.css" rel="stylesheet" />
<script src="/js/min/bootstrap-select.min.js"></script>

<script src="/js/pagejs/mancommon.js"></script>

<script th:inline="javascript">

// <![CDATA[
var currencyCode = /*[[${session.curSymbol}]]*/;
var curDigits = /*[[${session.curDigits}]]*/;
// ]]>
</script>

<script type="text/javascript" src="/js/pagejs/commonAdvConfig.js"></script>
<script type="text/javascript" src="/js/full/resultcode.js"></script>
<script type="text/javascript" src="/js/full/vascommands.js"></script>


<!-- Process Grid libraries -->
<link type="text/css" href="/css/c4u/c4u-process-grid.css" rel="stylesheet" />
<script type="text/javascript" src="/js/full/c4uprocessgrid.js"></script>
<link type="text/css" href="/css/jstree/style.css" rel="stylesheet" />
<link type="text/css" href="/css/bpmn.css" rel="stylesheet" />

<script type="text/javascript" src="/js/jstree/jstree.min.js"></script>
<script type="text/javascript" src="/js/pagejs/ussdMenu.js"></script>

<script type="text/javascript" src="/js/pagejs/enhancedcs.js"></script>


<script th:inline="javascript">
$(document).ready(function() {
	// <![CDATA[        
	var json = /*[[${ussdprocessJson}]]*/;
    // ]]>
	
	try {
		loadProcessModelTree(json);
		initMessaging();
		$(".table").DataTable({
			"aoColumnDefs": [
       		  { 'bSortable': false, aTargets: [ -1 ] }
       	   	]
		});
	} catch(err) {
		alert("page error: " + err);
	}
	
	$(".returncodetexts").resultCodeController({
	});
});
</script>