<div>

	<script id="ussdMenuConfig">
		<div id="ussdMenuConfig2" class="box">
			<div class="box-header with-border">
				<h2 class="box-title configHeading">{{i18n "config.ussdMenuHeading"}}</h2>
				{{#hasPerms "Transaction_ConfigUssd"}}
					<span id="toolbar" class="ussdmenu-toolbar"></span>
				{{/hasPerms}}
			</div>
		
		
		
		
		
			<!-- {{>configMainHeading heading="config.ussdMenuHeading" permission="Transaction_ConfigUssd" toolbar="ussdmenu-toolbar"}} -->
			
            
			<div id="menu-configuration"></div>
		</div>
	</script>
</div>