@CHARSET "UTF-8";

.sectionheading {
	font-weight: bold;
	font-size: large;
	padding-left: 10px;
}

.loglabel {
	font-weight: bold;
	font-size: medium;
	float:right;
}

.myinfo {
	font-size: medium;
}

.combo {
	padding-top: 7px;
}

.checkboxInput {
	margin-top: 7px !important;
}

.retrieveLoading {
	margin-left: 10px;
}


.scrollabletable {
	bottom: 50px;
	overflow: auto;
	max-height: 700px;
}

#entriesCount {
	margin-left: 10px;
}

label.checkbox-label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
}

.cblabel {
	padding-left: 5px;
}

.modalcheckbox {
	margin-top: 0px !important;
	margin-left: 10px !important;
}

.calendar-fix {
	display: inline-block;
}

.severityLabel {
	width: 100px; 	
}