@CHARSET "UTF-8";
div.fw-nav {
	padding-left: 30px;	
}
div.fw-nav ol, div.fw-nav ul {
	padding-left:0px;
    list-style: none outside none;
}
div.fw-nav a {
    color: #3174C7;
    cursor: pointer;
    text-decoration: none;
}
div.fw-nav ul, div.fw-header ul, div.fw-page-nav ul {
    margin: 0;
    position: relative;
}
div.fw-nav ul li:before, div.fw-header ul li:before, div.fw-page-nav ul li:before {
    content: none;
}
div.fw-nav ul li, div.fw-header ul li, div.fw-page-nav ul li {
	line-height: 20px !important;
    border: medium none;
    left: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    right: 0;
    text-indent: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
div.fw-nav ul li li, div.fw-header ul li li, div.fw-page-nav ul li li {
    font-size: 0.9em;
    text-indent: 2em;
}
div.fw-nav ul li li li, div.fw-header ul li li li, div.fw-page-nav ul li li li {
    font-size: 0.9em;
    text-indent: 4em;
}
div.fw-nav ul span.ellipsis, div.fw-header ul span.ellipsis, div.fw-page-nav ul span.ellipsis {
    background-color: #EEEEEE;
    border-radius: 4px;
    display: inline-block;
    padding: 0 0.5em;
    text-align: center;
    text-indent: 0;
}
div.fw-nav ul ul li.sub > a:after, div.fw-header ul ul li.sub > a:after, div.fw-page-nav ul ul li.sub > a:after {
    background: url("/img/nav-section.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    content: ".";
    display: inline-block;
    width: 18px;
}
div.fw-nav a, div.fw-header a, div.fw-page-nav a {
    display: block;
    padding: 0.22em 0;
}
div.fw-nav li li a, div.fw-header li li a, div.fw-page-nav li li a {
    padding: 0.2em 0;
}
div.fw-nav li.active, div.fw-nav li.sub-active, div.fw-header li.active, div.fw-header li.sub-active, div.fw-page-nav li.active, div.fw-page-nav li.sub-active {
    background-color: rgba(200, 200, 200, 0.1);
}
div.fw-nav li.active a, div.fw-nav li.sub-active a, div.fw-header li.active a, div.fw-header li.sub-active a, div.fw-page-nav li.active a, div.fw-page-nav li.sub-active a {
    border-right: 4px solid #DDDDDD;
}
div.fw-nav li ul li.active a, div.fw-nav li ul li.sub-active a, div.fw-header li ul li.active a, div.fw-header li ul li.sub-active a, div.fw-page-nav li ul li.active a, div.fw-page-nav li ul li.sub-active a {
    border-right: 4px solid #CCCCCC;
}
div.fw-nav li.active > a, div.fw-header li.active > a, div.fw-page-nav li.active > a {
    /* background-color: rgba(200, 200, 200, 0.4); */
    border-right: 4px solid #458AE0 !important;
    color: #000000;
    background-color: #c8c8c8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -moz-opacity:0.7; 
    opacity: 0.7;
}

div.fw-nav a:hover, div.fw-header, div.fw-page-nav a:hover span.sub-menu:hover{
	background-color: #E8E8E8;
    background-color: rgba(100, 100, 100, 0.15) !important;
}


div.fw-nav div.nav-master li, div.fw-header div.nav-master li, div.fw-page-nav div.nav-master li {
    float: left;
    width: 50%;
}
div.fw-nav div.nav-master li a, div.fw-header div.nav-master li a, div.fw-page-nav div.nav-master li a {
    background-color: rgba(200, 200, 200, 0.15);
    border-bottom: 4px solid rgba(200, 200, 200, 0.3);
    padding: 0.5em 0;
}
div.fw-nav div.nav-master li.active a, div.fw-header div.nav-master li.active a, div.fw-page-nav div.nav-master li.active a {
    background-color: rgba(200, 200, 200, 0.4);
    border-bottom: 4px solid #458AE0;
    border-right: medium none !important;
}
div.fw-nav div.nav-master div.account, div.fw-header div.nav-master div.account, div.fw-page-nav div.nav-master div.account {
    clear: both;
    font-size: 0.8em;
    padding-top: 0.2em;
    white-space: nowrap;
}
div.fw-nav div.nav-master div.account a, div.fw-header div.nav-master div.account a, div.fw-page-nav div.nav-master div.account a {
    display: inline;
}
div.fw-nav div.nav-master div.account a:hover, div.fw-header div.nav-master div.account a:hover, div.fw-page-nav div.nav-master div.account a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    text-decoration: underline;
}
div.fw-nav li ul {
    display: none;
}
div.fw-nav li.active ul, div.fw-nav li.sub-active ul {
    display: block;
}
div.fw-nav ul ul ul ul {
    display: none;
}

span.sub-menu {
	display:block;
	line-height:20px; 
	vertical-align:middle; 
	padding-right:5px; 
	float:right;
	cursor: pointer;
}

li.sub-menu-avail {
    background: url("/img/nav-section.gif");
    background-position: 1px 10px;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0);
    position: absolute;
    content: ".";
    display: inline-block;
    width: 20px;
 }