@CHARSET "UTF-8";

.proptable {
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
	height:100%;
	margin:0 0 5px 0;
	padding:0px;
	cursor: default;
}
	
.proptable thead td {
	background:-o-linear-gradient(bottom, #e5e5e5 5%, #E3E4E6 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #E3E4E6) );
	background:-moz-linear-gradient( center top, #e5e5e5 5%, #F9F9F9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5e5e5", endColorstr="#F9F9F9");	
	background: -o-linear-gradient(top,#e5e5e5,#E3E4E6);
	
	border:1px solid darkgrey;
	text-align:center;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000 !important;
}

.propgrid-title-outer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #99BBE8;
    border-style: solid;
    border-width: 0 0 2px;
    cursor: pointer;
    padding: 2px 2px 2px;
}

.propgrid-title-expand {
	color: #3764A0;
	background-image: url("/img/pm/collapse.gif");
	background-repeat: no-repeat;
	background-position: 1px 2px;
	padding: 0 0 0 14px;
	font-weight: bold;
}

.propgrid-title-collapse {
	color: #3764A0;
	background-image: url("/img/pm/expand.gif");
	background-repeat: no-repeat;
	background-position: 1px 2px;
	padding: 0 0 0 14px;
	font-weight: bold;
}

.proptable tr:nth-child(odd) { 
	background-color:#F9F9F9; 
}

.proptable tr:nth-child(even) {
	background-color:#ffffff;
}

.proptable tr:hover {
   	background-color: #DDECFE !important;
}

.proptable td:first-child {
	width: 150px;
}

.proptable td:nth-child(2) {
	color: #708090;
	
}

.proptable td:last-child {
	width: 20px;
}

.proptable>tbody td:first-child {
	background-image: url("/img/pm/property-cell.gif");
	background-repeat: no-repeat;
	background-position: -15px 2px;
	padding: 0 0 0 12px;
}

.editbutton {
	margin-left: 5px;
	margin-right: 5px;
	color: #00C000;
	cursor: pointer !important;
}
.editbutton:hover {
	color: green;
}