<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/portallayout" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>ECDS | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>


<!-- 
	offline.js has issues in IE 10, possibly related to mimetype, see https://github.com/HubSpot/offline/blob/master/coffee/offline.coffee#L220
	
	<script type="text/javascript" th:src="@{'/js/lib/offline/offline.js'}"></script>
 -->

<script type="text/javascript" th:src="@{'/js/lib/intl/Intl.complete.js'}"></script>

<script type="text/javascript" th:src="@{'/js/lib/datatables.min.js'}"></script>

<script type="text/javascript" th:src="@{'/js/lib/require.min.js'}" th:attr="data-main=@{__${projectVersion}__.js}"></script>

</head>
<body>

<div layout:fragment="maincontent">
	<header id="pageheader" class="main-header">
    	<div th:replace="components/headerbar :: header(ecds_gui='PORTAL')">Dashboard Header</div>
	</header>

 
  <!-- Left side column. contains the logo and sidebar -->
  <aside id="main-sidebar" class="main-sidebar">
    
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  
    <!-- Content Header (Page header) -->
    <div id="breadcrumb"></div>
 
 <!-- 
    <section id="header" class="">
    </section>
  -->   
 
    <!-- Main content -->
    <section id="mainContent" class="content">
    	
    	<!-- Temporary loading image -->
		<div class="center-block text-center">
			<p th:text="loading">Retrieving Content ...</p>
			
			<i class="fa fa-refresh fa-spin fa-4x fa-fw"></i>
			<span class="sr-only">Loading...</span>
		</div>
		
     </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">

      </div>
      
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
</body>
<script type="text/javascript">
Offline.options = {
		  // Should we check the connection status immediatly on page load.
		  checkOnLoad: true,

		  // Should we monitor AJAX requests to help decide if we have a connection.
		  interceptRequests: true,

		  // Should we automatically retest periodically when the connection is down (set to false to disable).
		  reconnect: {
		    // How many seconds should we wait before rechecking.
		    initialDelay: 3,

		    // How long should we wait between retries.
		    //delay: (1.5 * last delay, capped at 1 hour)
		    delay: 5
		  },

		  // Should we store and attempt to remake requests which fail while the connection is down.
		  requests: true,

		  // Should we show a snake game while the connection is down to keep the user entertained?
		  // It's not included in the normal build, you should bring in js/snake.js in addition to
		  // offline.min.js.
		  game: false
	};
	Offline.on('up', function(data) {
	});
	Offline.on('down', function(data) {
		//$('body').addClass('modal');
	});
</script>
</html>
