<div>
	<div id="" th:if="${#arrays.isEmpty(session.variants)}">
		<p>Currently No Service Classes defined</p>
	</div>
</div>

<div>
	<div id="" th:if="${#lists.isEmpty(session.variants)}">
		<p>Currently No Service Variants defined</p>
	</div>
	<div th:if="${!#lists.isEmpty(session.variants)}" class="row">
		<table id="variantsTable" class="table infotable table-hover table-bordered table-striped" style="width: 100%; table-layout: fixed;">
			<col width="20%" />
			<col width="15%" />
			<col width="15%" />
			<col width="15%" />
			<col width="15%" />
			<col width="150px" />
			<thead>
				<tr>
					<th>Name</th>
					<th th:text="${'Subscribe (' + session.curSymbol + ')'}">Subscribe (USD)</th>
					<th th:text="${'Renewal (' + session.curSymbol + ')'}">Renewal (USD)</th>
					<th>First Renewal Warning (hours)</th>
					<th>Second Renewal Warning (hours)</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="var,iterStat : ${session.variants}">
					<td th:text="${ utils.extractFieldText(var, 'name', 1) }" th:dir="${directions != null ? directions.length > 0 ? directions[0] : 'ltr' : 'ltr'}">-</td>
					<td style="text-align:right" th:text="${ utils.extractField(var, 'subscriptionCharge') }">-</td>
					<td style="text-align:right" th:text="${ utils.extractField(var, 'renewalCharge') }">-</td>
					<td style="text-align:right" th:text="${ utils.extractField(var, 'firstRenewalWarningHoursBefore') }">-</td>
					<td style="text-align:right" th:text="${ utils.extractField(var, 'secondRenewalWarningHoursBefore') }">-</td>
					<td style="text-align: center">
						<a th:id="${'scview_' + iterStat.index}"  th:onclick="'javascript:showVariants(\'view\',' + ${iterStat.index} + ');return false;'" href="#"><span class="glyphicon glyphicon-eye-open viewbutton" title="view"></span></a> 
						<span>|</span>
						<a th:id="${'scedit_' + iterStat.index}" th:onclick="'javascript:showVariants(\'edit\',' + ${iterStat.index} + ');return false;'" href="#"><span class="glyphicon glyphicon-pencil editbutton" title="edit"></span></a> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>