build/
.gradle
build.gradle.bak
buildSrc/.gradle/
/buildSrc/build/
/bin/
/.settings/
.classpath
.project
/target/
/.gradle/
bootCounterFile
configFile
diagnostics.xml
database-settings-oltp.xml
database-settings-olap.xml
/.idea/
.gitattributes
/Pipfile
/Pipfile.lock
.vscode/
/docker_image/
