<div class="row">
	<div class="col-sm-12">
		<h1 class="page-header config-prop-headings">Service Configuration Properties</h1>
	</div>
</div>

<form th:if="${not no_config}" id="configForm" name="configForm" class="form-horizontal" role="form">
	<div class="form-group" th:each="field : ${fields}">
		<label th:for="${field.fieldName}" class="col-sm-4 control-label" th:text="${utils.writeFieldLabel(field)}">label</label>
		<div class="col-sm-6">
			<!--  Enums Type -->
			<select th:if="${! #arrays.isEmpty(field.possibleValues)}"  th:id="${field.fieldName}" th:name="${field.fieldName}" onchange="dataUpdated();">
				<option th:each="option : ${field.possibleValues}" th:value="${option}" th:text="${utils.makePretty(option)}" th:selected="${option == utils.stringValue(field.value)}">
				</option>	
			</select>
			
			<!--  Boolean -->
			<div th:if="${#strings.endsWith(field.valueType, 'Boolean')}" class="col-sm-9" style="padding-left:0px;">
				<input type="checkbox" style="margin-top:11px;"
					th:disabled="${field.readOnly}" th:id="${field.fieldName}"
					th:name="${field.fieldName}" th:checked="${field.value}" 
					th:onchange="'javascript:dataUpdated();'"
				/>
				<br th:if="${#strings.endsWith(field.valueType, 'Boolean') and (! #strings.isEmpty(field.comment)) }" />
				<span th:if="${#strings.endsWith(field.valueType, 'Boolean') and (! #strings.isEmpty(field.comment)) }" class="field-comment" th:text="${utils.writeFieldComment(field)}">comment</span>
			</div>
			<!-- Normal -->
			<input th:if="${(#arrays.isEmpty(field.possibleValues))  and (! #strings.endsWith(field.valueType, 'Boolean')) }" class="form-control" type="text" th:readonly="${field.readOnly}" th:id="${field.fieldName}" th:name="${field.fieldName}" th:value="${field.value}" onchange="dataUpdated();"/>
			<span th:if="${(#arrays.isEmpty(field.possibleValues))  and (! #strings.endsWith(field.valueType, 'Boolean')) and (! #strings.isEmpty(field.comment)) }" class="field-comment" th:text="${utils.writeFieldComment(field)}">comment</span>
			
			<span th:id="${field.fieldName + '_error'}" style="color:red;" class="error_message hide"></span> 	
		</div>
  	</div>

	<div th:if="${not #lists.isEmpty(methods)}" class="row">
		<div class="col-sm-12">
			<h1 class="page-header config-prop-headings">System Calls</h1>
		</div>
	</div>

	<div th:if="${not #lists.isEmpty(methods)}" class="form-group"
		th:each="method : ${methods}">
		<label for="something" class="col-sm-3 control-label"
			th:text="${method.description}">label</label>
		<div class="col-sm-9">
			<button class="btn btn-info"
				th:onclick="'javascript:callMethod(\''+ ${service_uid} +'\', \''+${method.methodName}+'\');return false;'">Perform Operation</button>
		</div>
	</div>
</form>
<!--  Server Info List -->

<div class="row" style="border-bottom: 1px solid #EEEEEE;">
	<div class="col-xs-12 col-sm-6 col-md-8 user_heading">Server cluster configuration</div>
	<div class="col-xs-6 col-md-4">
		<button type="button" class="btn btn-success btn-xs" style="float:right;" data-toggle="modal" onclick="showAddHost();" title="add new host"><span class="glyphicon glyphicon-plus"></span></button>
	</div>
</div>
<div id="serverinfo" th:include="controlservice/serverinfo" />
<br/>

<div id="infomodal" th:include="controlservice/serverinfomodal" />
<div id="rolesmodal" th:include="controlservice/serverrolesmodal" />

<!--  Delete Modal -->
<div th:include="common :: deleteModal" />

<!--  Server Role List -->
<div class="row" style="border-bottom: 1px solid #EEEEEE;">
	<div class="col-xs-12 col-sm-6 col-md-8 user_heading">Server role configuration</div>
	<div class="col-xs-6 col-md-4">
		<button type="button" class="btn btn-success btn-xs" style="float:right;" data-toggle="modal" onclick="showAddRole();" title="add new roles"><span class="glyphicon glyphicon-plus"></span></button>
	</div>
</div>
<div id="serverroles" th:include="controlservice/serverroles" />
<br/>

<!-- Update Buttons -->
<div class="row" style="height: 37px;">
	<div id="update_msg_config" class="col-sm-10 update_notification">
	</div>
</div>

<div id="update_buttons_config" class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6" th:if="${canSaveUpdatedFields}">
		<button id="submit_config" type="button" class="btn btn-primary"
			th:onclick="'javascript:validateAndSave(\'config\', \''+ ${service_uid} +'\', \''+ ${service_version} +'\');return false;'">Update Details</button>
		<button id="reload_config" type="button" class="btn"
			th:onclick="'javascript:loadConfigurationContent(\''+ ${service_uid} +'\', \''+ ${service_name} +'\', \'reload\');return false;'">Cancel Changes</button>
	</div>
</div>

<div id="busy_updating_config" class="row hide">
	<div class="col-sm-12">
		<div class="well well-lg">
			<img src="/img/cell_wait.gif" alt="Waiting..." /> Busy performing
			live system update
		</div>
	</div>
</div>

<script src="/js/pagejs/mancommon.js"></script>
<script src="/js/pagejs/ctrlservice.js"></script>
<script>
$(document).ready(function() {
	registerInputs();
});
</script>