<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Credit4U</title>
</head>
<body style="padding-bottom:40px">
	<script src="/js/jquery-1.11.2.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/respond.min.js"></script>
	<script src="/js/jquery.history.js"></script>
	
	<script src="/js/first.js"></script>
	
	<div id="wrap">
		<h1>History.js</h1>
		<p>History.js gracefully supports the <a href="https://developer.mozilla.org/en/DOM/Manipulating_the_browser_history">HTML5 History/State APIs</a> (pushState, replaceState, onPopState) in all browsers. Including continued support for data, titles, replaceState. Supports <a href="http://jquery.com/">jQuery</a>, <a href="http://mootools.net">MooTools</a> and <a href="http://prototypejs.org">Prototype</a>. For HTML5 browsers this means that you can modify the URL directly, without needing to use hashes anymore. For HTML4 browsers it will revert back to using the old onhashchange functionality.</p>

		<!-- Textarea for Logging -->
		<textarea id="log" style="width:100%;height:400px"></textarea>

		<!-- Note -->
		<p>Click through the buttons in order and you'll get the results demonstrated in the <a href="../README.md">README.md</a> file.</p>

		<!-- Buttons -->
		<ul id="buttons">
		</ul>

	</div>
</body>
</html>