<div class="nav-main fw-nav">
	<ul>
		<li class="active">
			<a>Menu 1</a>
		</li>
		<li class="">
			<span class="glyphicon glyphicon-chevron-right sub-menu"></span>
			<a>Menu 2</a>
		</li>
		<li class="sub-active sub">
			<span class="glyphicon glyphicon-chevron-down sub-menu"></span>
			<a>Menu 3</a>
			<ul>
				<li class="">
					<a>Sub Menu 1</a>
				</li>
				<li class="active">
					<a>Sub Menu 1</a>
				</li>
				<li class="">
					<a>Sub Menu 1</a>
				</li>			
			</ul>
		</li>		
	</ul>
</div>