<link type="text/css" href="/css/pagecss/enhancedCreditSharing.css" rel="stylesheet" />
<link type="text/css" href="/css/pagecss/creditSharing.css" rel="stylesheet" />

<div class="row">
	<div class="col-sm-12">
		<h1 class="page-header config-prop-headings">Service Configuration Properties</h1>
	</div>
</div>

<!-- Tabbed Content -->
<ul class="nav nav-tabs">
	<li class="active"><a href="#general" data-toggle="tab">General</a></li>
	<li><a href="#returnCodes" data-toggle="tab">Return Codes</a></li>
	
	<li><a href="#variants" data-toggle="tab">Variants</a></li>
	<li><a href="#vasCommands" data-toggle="tab">VAS Commands</a></li>
	<li><a href="#donorQuotas" data-toggle="tab">Donor Quotas</a></li>
	
	<li th:if="${session.UnStructAdvConfig != null}" th:each="field : ${session.UnStructAdvConfig }">
		<a th:href="${'#' + field}" data-toggle="tab" th:text="${utils.splitCamelCaseString(field)}">???</a>
	</li>
</ul>

<div class="tab-content">
	<!-- General Configuration -->
	<div class="tab-pane tabcontent active" id="general">
		<div class="row" >
			<div class="col-xs-11 col-sm-5 col-md-7 user_heading" style="margin-left: 20px;">General Configuration</div>
		</div>	
		<form th:if="${not no_config}" id="configForm" name="configForm" class="form-horizontal" role="form">
			<div th:include="advconfig/general" />
		</form>
	</div>
	
	<!-- Return Codes -->
	<div class="tab-pane tabcontent" id="returnCodes">
		<div class="row" >
				<div class="col-xs-11 col-sm-5 col-md-7 user_heading" style="margin-left: 20px;">Return Codes</div>
		</div>	
		<form th:if="${not no_config}" id="configReturnCodeForm" name="configReturnCodeForm" class="form-horizontal" role="form">
			<div th:include="advconfig/returnCodesTexts" />
		</form>
	</div>
	
	<!-- Complex -->
	<div class="tab-pane tabcontent" id="variants"></div>
	<div class="tab-pane tabcontent" id="donorQuotas"></div>
	<div class="tab-pane tabcontent" id="vasCommands"></div>
	
	<!-- Unstructured Configuration -->
	<div th:if="${session.UnStructAdvConfig != null}" th:each="field : ${session.UnStructAdvConfig }" th:id="${field}" class="tab-pane tabcontent" >
		<div class="row" >
			<div class="col-xs-11 col-sm-5 col-md-7 user_heading" style="margin-left: 20px;" th:text="${utils.splitCamelCaseString(field) + ' Configuration'}">???</div>
		</div>
		<form th:id="${field + 'Form'}" name="quotaForm" class="form-horizontal" role="form">
			<div th:include="advconfig/complexConfig" th:with="complexFields=${session[field]}, fieldName=${field}" />
		</form>
	</div>
	
</div>

<!-- Update Buttons -->
<div th:include="common :: updateAndNotify" th:with="std=${'true'}, forms=${'config,configReturnCode,Quota'}"/>

<!-- Add/Edit Modals -->
<div th:include="pinservice/variantsmodal" />

<!--  Delete Modal -->
<div th:include="common :: deleteModal" />

<!-- Vas Commands Modal -->
<div th:include="advconfig/vasCommandsModal" />

  
<link type="text/css" href="/css/bootstrap-select.min.css" rel="stylesheet" />
<script src="/js/min/bootstrap-select.min.js"></script>
<script src="/js/pagejs/mancommon.js"></script>

<script type="text/javascript" src="/js/pagejs/commonAdvConfig.js"></script>
<script type="text/javascript" src="/js/full/resultcode.js"></script>
<script type="text/javascript" src="/js/full/vascommands.js"></script>
<script type="text/javascript" src="/js/full/complex-config.js"></script>
<script type="text/javascript" src="/js/pagejs/credittransfer.js"></script>