<div>
	<script id="layout">
		<div class="master col-sm-5 bootcards-list" id="list" data-title="Contacts">
		</div>
		<div class="detail col-sm-7 bootcards-cards hidden-xs">
		</div>
	</script>
</div>