/target/
/.settings/
/.classpath
/.project
/.metadata/
developer.properties
asciidoctor-common-docs
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
/.gradle/
/build/
/bin/
/node_modules/
/testjs/
/build-eclipse/
*.log
/docs/*.html
/docs/*.pdf
/.idea/
/docker_image/
application-dev.properties