# vim: set sts=2 ts=2 sw=2 filetype=yaml expandtab:
# see https://docs.gitlab.com/ce/ci/yaml/README.html for syntax
# verify with lint here https://git.concurrent.co.za/ci/lint
# Added variables for dealing with submodules, see https://docs.gitlab.com/ce/ci/git_submodules.html
#variables:
#  GIT_SUBMODULE_STRATEGY: recursive
   
before_script:
  - "uname -n"
  - "id"
  - "uptime"
  - "date +%Y-%m-%dT%H:%M:%S"
  - "echo \"${GITLAB_URL}\""
  - "echo processors = $(grep -c '^processor' /proc/cpuinfo)"
  #- "git submodule update --init --recursive"
  - "whoami"
  - "id"
  - "echo \"CS_PRODUCT_BUILD : ${CS_PRODUCT_BUILD}\""
  - "echo \"CS_COMMIT_TAG : ${CS_COMMIT_TAG}\""
  - "echo \"CS_BUILD_ID : ${CS_BUILD_ID}\""
  - "java --version"

stages:
 - crediverse-publish-artifacts
 - crediverse-gui-tag

#ecds-gui-build:
#  stage: crediverse-publish-artifacts
#  script:
#    - mvn clean
#    - "mvn -X -s m2-settings-gitlab-ci.xml -U deploy site-deploy"
#  only:
#  - tags
#  when: manual
#
#ecds-gui-build-manual:
#  stage: crediverse-publish-artifacts
#  script:
#    - mvn clean
#    - "mvn -X -s m2-settings-gitlab-ci.xml -U deploy site-deploy"
#  when: manual

crediverse-tag:
  stage: crediverse-gui-tag
  rules: # only runs for tags when this is not a product build
    - if: '$CI_COMMIT_TAG && $CS_PRODUCT_BUILD == null'
  script:
    - "./gradlew --info --stacktrace clean"
    - "./gradlew --info --stacktrace -P 'org.gradle.jvmargs=-XX:+HeapDumpOnOutOfMemoryError' publish"
    - 'echo "Build Published, performing docker login"'
    - "docker login -u crediverse -p ${REGISTRY_DEPLOY_TOKEN} registry.gitlab.com"
    - 'echo "Building Docker image..."'
    - "docker build -t registry.gitlab.com/csys/products/ecds/ecds-gui:${CI_COMMIT_TAG} ."
    - "docker tag registry.gitlab.com/csys/products/ecds/ecds-gui:${CI_COMMIT_TAG} registry.gitlab.com/csys/products/ecds/ecds-gui:latest"
    - 'echo "Publishing the Docker image to registry.gitlab.com..."'
    - "docker push registry.gitlab.com/csys/products/ecds/ecds-gui:${CI_COMMIT_TAG}"
    - "docker push registry.gitlab.com/csys/products/ecds/ecds-gui:latest"

product-gui-tag:
  stage: crediverse-gui-tag
  rules:
    - if: '$CS_PRODUCT_BUILD == "product"'
  script:
    - "./gradlew --info --stacktrace clean"
    - "./gradlew --info --stacktrace -P 'org.gradle.jvmargs=-XX:+HeapDumpOnOutOfMemoryError' publish"
    - 'echo "Build Published, performing docker login"'
    - "docker login -u crediverse -p ${REGISTRY_DEPLOY_TOKEN} registry.gitlab.com"
    - 'echo "Building Docker image..."'
    - "docker build -t registry.gitlab.com/csys/products/ecds/ecds-gui:${CS_COMMIT_TAG} ."
    - "docker tag registry.gitlab.com/csys/products/ecds/ecds-gui:${CS_COMMIT_TAG} registry.gitlab.com/csys/products/ecds/ecds-gui:latest"
    - 'echo "Publishing the Docker image to registry.gitlab.com..."'
    - "docker push registry.gitlab.com/csys/products/ecds/ecds-gui:${CS_COMMIT_TAG}"
    - "docker push registry.gitlab.com/csys/products/ecds/ecds-gui:latest"

publish-artifacts:
  stage: crediverse-publish-artifacts
  script:
    - "./gradlew --info --stacktrace clean"
    - "./gradlew --info --stacktrace -P 'org.gradle.jvmargs=-XX:+HeapDumpOnOutOfMemoryError' publish"
  when: manual
