# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Build output
dist/
build/
out/

# Environment files
.env
.env.*

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing files
coverage/

# Operating System files
.DS_Store
Thumbs.db
